* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 16px;
}

body {
  background: #eeeeee;
}

.container-admin {
  display: flex;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (min-width: 281px) and (max-width: 530px) {
  .container-login {
    margin: 0 10px;
  }
}
@media (max-width: 280px) {
  .container-login {
    margin: 0 0;
  }
}

.login {
  padding: 30px;
  background: #393e46;
  width: 30rem;
}
.login input {
  height: 35px;
  outline: none;
  border-style: none;
  width: 100%;
  margin-bottom: 1.2em;
  padding-left: 10px;
}
.login input:focus {
  border: 3px solid #76ead7;
}
.login .input-error {
  height: 35px;
  outline: none;
  border-style: none;
  width: 100%;
  margin-bottom: 1.2em;
  padding-left: 10px;
  border: 3px solid #fa6161;
}
.login .input-error::placeholder {
  color: #fa6161;
}

::placeholder {
  color: #a1a1a1;
}

.container-elements {
  display: flex;
  justify-content: space-between;
}

.login-title {
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  font-size: 2em;
  color: white;
  margin-bottom: 0.4em;
}

.icon-login {
  font-size: 2rem;
  margin-top: 7px;
  color: #76ead7;
}

.button {
  padding: 0.4em 0.5em;
  width: 130px;
  background: #c4fb6d;
  color: black;
  border-style: none;
  outline: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background: #76ead7;
}

.link-home {
  align-self: center;
  border-bottom: 2px solid #c4fb6d;
}

.login-message {
  margin-left: 8px;
  padding-left: 10px;
  align-self: center;
  font-size: 50px;
  color: white;
  box-shadow: -8px 0px 0px #c4fb6d;
}

.login-msg-error {
  animation: 0.3s side ease-in;
  position: relative;
}

.login-msg-loading {
  animation: 0.1s opacity ease-in;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes side {
  from {
    opacity: 0;
    left: -20px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.container-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #393e46;
  height: 9vh;
  color: #76ead7;
  padding: 0 3rem;
}

.title-header {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  color: #76ead7;
}

.link-header {
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
}

.link-header-home {
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
}

.icon-cart {
  color: #c4fb6d;
  margin: 0 0 0px 6px;
  font-size: 1rem;
  display: inline;
}

@media (max-width: 768px) {
  .container-header {
    padding: 0 1.3rem;
  }

  .link-header {
    margin-left: 1.3rem;
  }
}
@media (max-width: 570px) {
  .link-header {
    margin-left: 0.9rem;
  }
}
@media (max-width: 525px) {
  .title-header {
    font-size: 1.2rem;
  }

  .link-header {
    font-size: 0.8rem;
    margin-left: 0.7rem;
  }

  .icon-cart {
    font-size: 0.8rem;
  }
}
@media (max-width: 447px) {
  .link-header {
    margin-left: 0.5rem;
  }

  .title-header {
    font-size: 1rem;
  }
}
@media (max-width: 326px) {
  .title-header {
    font-size: 0.8rem;
  }
}
@media (max-width: 314px) {
  .container-header {
    padding: 0 0.3rem;
  }

  .title-header {
    font-size: 0.8rem;
  }
}
.sidebar-responsive {
  background: #393e46;
  min-height: 100vh;
  transition: all 0.5s;
  width: 80%;
  position: fixed;
  box-shadow: 3px 0 10px 5px rgba(0, 0, 0, 0.3);
}

.hidden {
  transform: translateX(-600px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.3s;
}

.over-hidden {
  opacity: 0;
  visibility: hidden;
}

.sidebar-desktop {
  background: #393e46;
  min-height: 100vh;
  transition: all 0.5s;
  width: 270px;
}

@media (min-width: 769px) {
  .button-menu {
    display: none;
  }

  .sidebar-responsive {
    display: none;
  }

  .overlay {
    display: none;
  }
}
@media (max-width: 768px) {
  .sidebar-desktop {
    display: none;
  }
}
.button-menu {
  position: fixed;
  z-index: 10;
  background: #393e46;
  outline: none;
  border-style: none;
}
.button-menu div {
  width: 25px;
  height: 3px;
  background-color: #76ead7;
  margin: 5px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .button-menu {
    margin: 5px;
  }
}

.hamburguer .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburguer .line2 {
  opacity: 0;
}

.hamburguer .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

aside h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  height: 2.4rem;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}
.sidebar-header-style h1 {
  font-size: 15px;
  color: #76ead7;
}
@media (max-width: 768px) {
  .sidebar-header-style {
    padding-left: 50px;
  }
}

.sidebar-header {
  display: flex;
  justify-content: center;
}

.header-line {
  padding-bottom: 20px;
}
.header-line h1 {
  margin-top: 10px;
}

.icon-edit {
  margin-left: 8px;
}
.icon-edit:hover {
  color: #c4fb6d;
}

.sidebar-link {
  text-transform: uppercase;
}
.sidebar-link a {
  font-size: 14px;
}
.sidebar-link ul {
  list-style: none;
}
.sidebar-link .style-link {
  padding: 14px 30px;
  box-shadow: 0px -12px 10px 0px rgba(0, 0, 0, 0.1) inset, 0px 12px 10px 0px rgba(255, 255, 255, 0.1) inset;
}

.link-active {
  color: #c4fb6d;
}

.icon-sidebar {
  font-size: 1.2rem;
  color: #76ead7;
  width: 32px;
}

.img-perfil {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.container-home-link {
  position: relative;
  text-transform: uppercase;
  width: 300px;
}
.container-home-link a {
  font-size: 16px;
}
.container-home-link .icon-link-home {
  font-size: 1.35rem;
  color: #76ead7;
  width: 40px;
}
@media (max-width: 768px) {
  .container-home-link .icon-link-home {
    width: 60px;
  }
}

.title-sidebar {
  font-size: 14px;
  color: #c4fb6d;
  padding: 10px 0 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.container-header-admin {
  position: absolute;
  width: calc(100% - 270px);
}

.header-admin {
  background-color: #33383F;
  position: relative;
  padding-right: 20px;
  height: 2.4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 270px;
}
.header-admin a {
  text-transform: uppercase;
  font-size: 13px;
}

@media (max-width: 768px) {
  .container-header-admin {
    width: 100%;
  }

  .header-admin {
    left: 0;
    padding-right: 5px;
  }
}
.btn-logout {
  background: transparent;
  border: 2px solid #c4fb6d;
  color: #c4fb6d;
  outline: none;
  width: 100px;
  transition: 0.2s all;
  font-weight: 500;
  margin-left: 15px;
  font-size: 13px;
}
.btn-logout:hover {
  cursor: pointer;
  background: #c4fb6d;
  color: black;
}

.icon-admin {
  font-size: 15px;
  color: #76ead7;
  margin-right: 5px;
}

.component-admin {
  margin: 3.5rem 1rem;
}

/*# sourceMappingURL=main.css.map */
